# Reducing Functions

- Reducing Functions are those which recombine an iterable recursively ending up with a single return value. This means these function takes an iterable as parameter and combine all elements of that iterable recursively according to a function and returns a single value. These functions are also called as accumulators, aggregators, or folding functions.

- For example, finding maximum value of an iterable that contains values `a0,a1,a2,a3,a4,a5 ...`. Now here we actually assume a0 as maximum value initially. So result = a0 . Now we acutally find `result = max(result, a1)`. Next we find `result = max(result,a2)`. Like we will go upto an . So finally we will return the result.

- The code for this is :

  ```python

  def _max(a,b):

    fn = lambda x,y : max(x,y)
    return fn(a,b)

  def _reduce(iterable):

    result = iterable[0]

    for a in iterable[1:]:

        result = _max(result,a)

    return result

  ```
- Similarly we will write code for `_min` function also and we will use _min in _reduce function instead of _max. This is how we reduce the sequences into single values recursively. But here we are hardcoding the function. Instead of hardcode the function we actually give that function as parameter and use that funcion in the loop. The code for this is :

  ```python

  def _reduce(fn,iterable):

    result = iterable[0]

    for a in iterable[1:]:

        result = fn(result,a)

    return result

  ```

- But our own reduce works for sequence types only. These won't work for other iterables such as sets , dictionaries etc. But python provides a built in `reduce` which works for all kinds of iterables. This function just takes two inputs such as a function and an iterable. This `reduce` function is imported from `functools` module. This reduce function is custom which we can provide any type of function and any iterable as we want.

- But python has other reducing functions which are responsible for particular action only. Those are :

  **max** : Finds maximum value in an iterable

  **min** : Finds minimum value in an iterable

  **sum** : Finds the sum of all values in an iterable

  **any** : Returns the true if any value in that iterable is truthy.

  **all** : Returns True if all elements in that iterable is truthy.

In [1]:
# Now lets see the reduce function in practice.

from functools import reduce

# First lets perform maximum operation in an iterable

reduce(lambda x,y : max(x,y), {5,7,1,3,10,-3})

10

In [2]:
# Now lets find te minum element in an iterable

reduce(lambda x,y : min(x,y), [1,4,-4,2,6,83])

-4

In [3]:
# Now lets find sum of all elements in an iterable

reduce(lambda x,y : x +y, [1,2,3,4,5,6,7])

28

In [4]:
sum([1,2,3,4,5,6,7])

28

In [5]:
# Now lets find the product of elements in an iterable

reduce(lambda x,y: x *y, [1,2,3,4,5])

120

In [6]:
# Now lets find the factorial of a given number using this reducing function

def fact(n):

    return reduce(lambda x,y : x*y,range(1,n+1))

fact(5)

120

In [7]:
fact(7)

5040

In [8]:
# Now lets perform any operation using reduce function

# As we know any retuns True if any of the element in the iterable is True. That means it is performing or operation on all elements in an iterable.

reduce(lambda x,y : bool(x) or bool(y), [None, 0, 2])

True

In [9]:
# If any perform or operation then all performs and operation.

reduce(lambda x,y : bool(x) and bool(y), ['None',0,2,4,5])

False

In [10]:
# In Builtin reduce we have one parameter called Initializer which sets the starting value for the result as we have set first value to result
# in our own reduce function.

# Similar to this if you want to set your own inital value instead of starting value of iterable we can provide it as initialier to reduce function.

# But we cannot give whatever initial value we want. It must suit for operation or function we are applying. If you are performing addition amoong elements in an iterable
# then setting 0 as inital value would result correct output. Otherwise We might get wrong results.

reduce(lambda x,y : x+y, [1,2,3,4,5,6,7], 100) # Here i have given initializer as 100.

128

In [11]:
# But sum of [1,2,3,4,5,6,7] is 28 only

sum([1,2,3,4,5,6,7])

28

In [ ]:
# So we need to set iniltializer carefully and we need to set it based on the operation we are performing. If you won't set any initializer reduce function actually takes starting value as intial value.
# If you pass inital then it is treated as first argument to the function. For example in above lambda function 100 is passed as initial so 100 is passed into x for lambda function.